<main>
    
    <section class="bio">
        <h1 id="biography">Biography</h1>      
                <div class="content">
        <!-- The video -->
        <video autoplay muted loop id="myVideo">
          <source class="video" src="../assets/images/videoplayback.mp4" type="video/mp4">
        </video>
      
      <div class="video-content">
        <a class="anchor" id="bio"></a>
        
        <h3> Quick Facts</h3>
        <ul class="qfacts">
          <li>AKA David Bowie & Ziggy Stardust</li>
          <li>BIRTH: January 8, 1947, London, England</li>
          <li>DEATH: January 10, 2016, New York City, USA</li>
        </ul>
        <br>
        <p class="bio-text">David Bowie was born in South London's Brixton neighborhood on January 8, 1947. His first hit was the song
          "Space Oddity" in 1969. The original pop chameleon, Bowie became a fantastical sci-fi character for his
          breakout Ziggy Stardust album. He later co-wrote "Fame" with Carlos Alomar and John Lennon, which became his
          first American No. 1 single in 1975. An accomplished actor, Bowie starred in The Man Who Fell to Earth in
          1976. He was inducted into the Rock and Roll Hall of Fame in 1996. Shortly after releasing his final album,
          Bowie died from cancer on January 10, 2016.</p>
        </div>
     
      </div>
    </section>
  
  
  
  
