<div class="disc anchor" id="disco">
  
  <h1>Discography</h1>

  <div id="sixt-sevent" class="grid-section">
      <div id="sixt-sevent-target"> <h2 id="sixt-sevent-h2">60's and 70's</h2> <a class="sixt-arrow-icon">
            <span class="sixt-left-bar"></span>
            <span class="sixt-right-bar"></span>
          </a></div>
    <div class="invisible grid grid-sixt">
      <div class="box-cont dav-bow-disc-img">
        <div class="overlay-sixt"><h3>David Bowie</h3></div>
      </div>
      <div class="box-cont man-who-img multiple-col">
        <a href="#id01">
          <div class="overlay-sixt">
            <h3>The man who saved the world</h3>
          </div></a
        >
      </div>
      <div class="box-cont hunky-dory-img multiple-row">
        <div class="overlay-sixt"><h3>Hunky Dory</h3></div>
      </div>
      <div class="box-cont heroes-img">Heroes
        <div class="overlay-sixt"><h3>Heroes</h3></div>
      </div>
      <div class="box-cont young-am-img multiple-col">
        <div class="overlay-sixt"><h3>Young Americans</h3></div>
      </div>
    </div>
  </div>

  <div id="id01" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-container">
          <h2>The man who saved the world</h2>
          <a id="closebtn" href="#disco" class="modal-closebtn">×</a>
        </div>
        <div class="modal-container">
          <iframe
            src="https://open.spotify.com/embed/album/4h9rWFWhgCSSrvIEQ0YhYG"
            width="300"
            height="380"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
          ></iframe>
              <ul>
           <li> <span> Released </span> 4 November 1970 </li>
           <li>  <span> Recorded </span> 18 April – 22 May 1970 Studio Trident Studios in London and Advision Studios in West London </li>
        </ul>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div id="eight-ninet" class="grid-section">
        <div id="eighti-target"> <h2 id="eighti-nineti-h2">80's and 90's</h2> <a class="eighti-arrow-icon">
                <span class="eighti-left-bar"></span>
                <span class="eighti-right-bar"></span>
              </a></div>
    <div class="invisible grid grid-eight">
      <div class="box-cont dav-bow-disc-img">
        <div class="overlay-eight"><h3>Scary Monsters</h3></div>
      </div>
      <div class="box-cont man-who-img multiple-col">
        <div class="overlay-eight"><h3>Let's Dance</h3></div>
      </div>
      <div class="box-cont hunky-dory-img multiple-row">
        <div class="overlay-eight"><h3>Never Let Me Down</h3></div>
      </div>
      <div class="box-cont young-am-img">
        <div class="overlay-eight"><h3>1. Outside</h3></div>
      </div>
      <div class="box-cont heroes-img multiple-col">
        <div class="overlay-eight"><h3>Earthling</h3></div>
      </div>
    </div>
  </div>

  <div id="millen" class="grid-section">
        <div id="millen-target"> <h2 id="millen-h2">00's and 10's</h2> <a class="millen-arrow-icon">
                <span class="millen-left-bar"></span>
                <span class="millen-right-bar"></span>
              </a></div>
        
        <div class="invisible grid grid-millen">
          <div class="box-cont dav-bow-disc-img">
            <div class="overlay-millen"><h3>Heather</h3></div>
          </div>
          <div class="box-cont man-who-img multiple-col">
            <div class="overlay-millen"><h3>Reality</h3></div>
          </div>
          <div class="box-cont hunky-dory-img multiple-row">
            <div class="overlay-millen"><h3>A Reality Tour</h3></div>
          </div>
          <div class="box-cont young-am-img">
            <div class="overlay-millen"><h3>VH1 Storytellers</h3></div>
          </div>
          <div class="box-cont heroes-img multiple-col">
            <div class="overlay-millen"><h3>The Next Day</h3></div>
          </div>
        </div>
      </div>
</div>
