<div class="disc">

  <h1>Discography</h1>

  <div id="sixt-sevent">
    <h2 id="sixt-sevent-h2">60's and 70's</h2>
    <div class="invisible grid grid-sixt">
      <div class="box-cont dav-bow-disc-img">
        <div class="overlay-sixt"><h3>David Bowie</h3></div>
      </div>
      <div class="box-cont man-who-img multiple-col">
        <div class="overlay-sixt"><h3>The man who saved the world</h3></div>
      </div>
      <div class="box-cont hunky-dory-img multiple-row">
        <div class="overlay-sixt"><h3>Hunky Dory</h3></div>
      </div>
      <div class="box-cont young-am-img">
        <div class="overlay-sixt"><h3>Young Americans</h3></div>
      </div>
      <div class="box-cont heroes-img multiple-col">
        <div class="overlay-sixt"><h3>Heroes</h3></div>
      </div>
    </div>
  </div>

  <div id="eight-ninet">
    <h2 id="eighti-nineti-h2">80's and 90's</h2>
    <div class="invisible grid grid-eight">
      <div class="box-cont dav-bow-disc-img">
        <div class="overlay-eight"><h3>David Bowie</h3></div>
      </div>
      <div class="box-cont man-who-img multiple-col">
        <div class="overlay-eight"><h3>The man who saved the world</h3></div>
      </div>
      <div class="box-cont hunky-dory-img multiple-row">
        <div class="overlay-eight"><h3>Hunky Dory</h3></div>
      </div>
      <div class="box-cont young-am-img">
        <div class="overlay-eight"><h3>Young Americans</h3></div>
      </div>
      <div class="box-cont heroes-img multiple-col">
        <div class="overlay-eight"><h3>Heroes</h3></div>
      </div>
    </div>
  </div>

  <ul id="eighti-nineti-ul">
    <li>Scary Monsters [1980]</li>
    <li>Let's Dance [1983]</li>
    <li>Never Let Me Down [1987]</li>
    <li>1. Outside [1995]</li>
    <li>Earthling [1997]</li>
  </ul>

  <h2 id="disch2-millen-list">Albums released in the 00's</h2>
  <ul id="millen-ul">
    <li>Heather [2002]</li>
    <li>Reality [2003]</li>
    <li>A Reality Tour [2004]</li>
    <li>VH1 Storytellers [2009]</li>
    <li>The Next Day [2013]</li>
  </ul>
</div>
