
<div class="disc">
    <a class="anchor" id="disco"></a>
  <h1>Discography</h1>
  <p>

        <h2 id="disch2-sixt-sevent">Albums released between 60's and 70's</h2>
    <ul id="sixt-sevent-list">
        <li>David Bowie [1967]</li>
        <li>The Man Who Sold the World [1970]</li>
        <li>Hunky Dory [1971]</li>
        <li>Aladdin Sane [1973]</li>
        <li>Young Americans [1975]</li>
        <li>Heroes [1977]</li>
        <li>Lodger [1979]</li>
    </ul>

    <h2 id="disch2-eighti-nineti">Albums released between 80's and 90's</h2>
    <ul id="eighti-nineti-list">
        <li>Scary Monsters [1980]</li>
        <li>Let's Dance [1983]</li>
        <li>Never Let Me Down [1987]</li>
        <li>1. Outside [1995]</li>
        <li>Earthling [1997]</li>
    </ul>

    <h2 id="disch2-millen-list">Albums released during 00's</h2>
    <ul id="millen-list">
        <li>Heather [2002]</li>
        <li>Reality [2003]</li>
        <li>A Reality Tour [2004]</li>
        <li>VH1 Storytellers [2009]</li>
        <li>The Next Day [2013]</li>
    </ul>

  </p>
</div>
