<div class="container">
        <div class="left">
<header>
    <div class="logo"><a href="#"><img class="logotype" src="../assets/images/logo.png"></a></div>
    <nav>
        <a href="#bio">Biography</a>
        <a href="#disco">Discography</a>
        <a href="#merch">Merchandise</a>
    </nav>
</header>
<div class="smallheader">
  <div id="smalltopheader"><img src="assets/images/logo.png" id="smalltopheaderlogo"></div>
        <span class="accordion">&#9776;</span>
			<div class="panel">
		  <ul>
				<li><a href="#bio">Biography</a></li>
				<li><a href="#disco">Discography</a></li>
				<li><a href="#merch">Merchandise</a></li></ul>
        </div>
</div>