<div class="container">
  <div class="left">
    <header>
      <div class="logo"><a href="#"><img class="logotype" src="../assets/images/logo.png"></a></div>
      <nav>
        <a href="#">Biography</a>
        <a href="#disco">Discography</a>
        <a href="#merch">Merchandise</a>
      </nav>
    </header>
  <div class="smallheader">
    <div id="smalltopheader"><a href="#"><img src="assets/images/logo.png" id="smalltopheaderlogo"></a></div>
    <span class="accordion">&#9776;</span>
    <div class="panel">
      <ul>
        <li><a href="#">Biography</a></li>
        <li><a href="#disco">Discography</a></li>
        <li><a href="#merch">Merchandise</a></li>
      </ul>
    </div>
  </div>