/* Bio section start */
#myVideo {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -99;
    transform: scale(1.1);
    }
    
    .content {
      max-height: 100%;
      max-width: 100%;
      position: relative;
      z-index: 2;
      color: white;
      overflow: hidden;
      
    }
    .video-content{
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 30px;
      word-break: normal;
      margin-top: 200px;
    }
   
  .bio{
    margin-top: 0px;  
    padding-bottom: 60px;
      z-index: 1;
  }

  .qfacts{
      font-family: 'Montserrat', sans-serif;
      display: flex;
      margin: 0em;
      margin-bottom: 10px;
      display: inline-block;
      
  }
  .bioimg{
          width: 200px;
          margin: 10px 10px 0px 5px;
          float: left;
          opacity: 0.8;
          border-radius: 8px;
  }
  .bio-text{
      display: inline;
      color: white;
  }
  @media (max-width: 1400px) {
  .bio {
    margin-top: 220px;
    }
}
  /* Bio section end */